.expanderIcon {
    width: 12px;
    height: 12px;
    padding: 2px 4px;
}

.left16px {
    padding-left: 16px;
}

.container {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

.header {
    padding: 4px;
    border-radius: 2px;
}

.header:hover {
    background-color: var(--hover-background-color);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
