.name {
    flex: 1;
    font-size: 12px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.icon {
    width: 16px;
    height: 16px;
    padding: 0px;
}

.parent-visible {
    opacity: 0.56;
}
