.error {
    font-size: x-small;
    color: red;
    position: absolute;
}

.hidden {
    display: none;
}

.readonly {
    opacity: 0.56;
}

.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.box {
    font-size: 14px;
    border: var(--border);
    border-radius: 4px;
    padding: 6px;
    margin: 0px;
    flex: 1 1 100%;
}
