.readonly {
    opacity: 0.56;
}

.box {
    flex: 1;
    font-size: 1rem;
    padding: 4px;
    outline: none;
    background-color: transparent;

    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin: 0px;

    &:focus {
        border-color: var(--primary-color);
    }
}
