.root {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex: 1 1 auto;
    height: 0;

    & .sidebar {
        display: flex;
        flex-direction: column;
        flex: 0 0 360px;
        max-width: 400px;
        background-color: var(--background-color);

        & .sidebarItem {
            margin-top: 10px;
            overflow: hidden;
            flex: 1 1 auto;
            height: 0;
        }
    }

    & .viewportContainer {
        position: relative;
        background-color: rebeccapurple;
        flex: 1 1 auto;
        width: 0;

        .viewport {
            height: 100%;
            position: relative;
        }
    }
}

.statusbar {
    height: 24px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 680px) {
    .content {
        flex-direction: column-reverse;
        height: 0;

        & .viewport {
            height: 100px;
            width: 100%;
        }

        & .sidebar {
            flex: 1 1 auto;
            width: 100%;
        }
    }
}
