.root {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex: 1 1 auto;
    margin: 4px;
}

.statusbar {
    flex: 0 0 24px;
}

.sidebar {
    flex: 0 0 360px;
    margin: 4px;
    height: 100%;
}

.viewport {
    flex: 1 1 auto;
    margin: 4px;
    border-radius: 6px;
    background: var(--viewport-background-color);
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.1);
}

@media (max-width: 600px) {
    .content {
        flex-direction: column-reverse;
    }
    .viewport {
        height: 200px;
    }
    .sidebar {
        flex: 1 1 auto;
    }
}
