dialog {
    border: none;
    box-shadow: 0px 1px 2px var(--foreground-muted-color);
    border-radius: 16px;
    padding: 0px;
}

dialog::backdrop {
    background-color: var(--backdrop-color);
}

.loading {
    position: relative;
    width: 48px;
    height: 48px;
    border: 2px solid var(--foreground-color);
    border-top-color: var(--loading-border-color);
    border-right-color: var(--loading-border-color);
    border-bottom-color: var(--loading-border-color);
    border-radius: 100%;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    width: fit-content;
    height: fit-content;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    margin-top: 12px;
}
