.root {
    display: flex;
    flex-direction: column;
}

.headerPanel {
    display: flex;
    flex-direction: row;
    align-items: top;
    flex: auto;
}

.contentPanel {
    display: flex;
    flex-direction: row;
    background-color: var(--panel-background-color);
    border-bottom: 1px solid var(--border-color);
}

.selectedTab {
    position: relative;
}

.selectedTab::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 8px;
    right: 8px;
    height: 3px;
    background-color: var(--primary-color);
}

.startup {
    padding: 4px 12px;
    font-size: 12px;
}

.startup:hover {
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
}
