.normal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    max-width: 42px;
}

.normal:hover {
    opacity: 0.85;
    background-color: var(--hover-background-color);
}

.normal:active {
    background-color: var(--active-background-color);
}

.small {
    display: flex;
    flex-direction: row;
    justify-items: top;
    padding: 4px;
    margin: 0px 4px;
}

.checked {
    background-color: var(--checked-color);
}

.small:hover {
    opacity: 0.85;
    background-color: var(--hover-background-color);
}

.small:active {
    background-color: var(--active-background-color);
}

.buttonText {
    color: var(--foreground-color);
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.icon {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
}

.smallIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
