.header {
    padding: 6px 16px;
    font-size: 11px;
    width: auto;
    color: var(--color);
}

.header:hover {
    background-color: var(--hover);
}

.panel {
    display: flex;
    flex-direction: row;
    min-height: 84px;
    background-color: var(--ribbonPanelBackground);
}
