.header {
    color: var(--titlebar-forground-color);
    font-size: 12px;
    padding: 4px 12px;
}

.header:hover {
    font-weight: bold;
    background-color: var(--hover-background-color);
}

.panel {
    display: flex;
    flex-direction: row;
}
