.root {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
}

.root::after {
    content: "";
    position: absolute;
    display: grid;
    right: 0px;
    top: 6px;
    bottom: 6px;
    width: 1px;
    background-color: var(--border-color);
}

.header {
    color: var(--foreground-color);
    font-size: 12px;
}

.panel {
    display: flex;
    flex-direction: row;
}
