.root {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    margin: 2px 4px;

    .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;

        .appIcon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-self: center;
            border-radius: 8px;
            padding: 4px 8px;
            margin: 2px;
            cursor: pointer;

            &:hover {
                background-color: rgba(128, 128, 128, 0.3);
            }

            .icon {
                width: 24px;
                height: 24px;
                padding: 2px;
            }

            span {
                margin-left: 16px;
                font-weight: bolder;
                text-wrap: nowrap;
            }
        }

        & .quickCommands {
            display: flex;
            flex-direction: row;
            margin-left: 6px;

            svg {
                width: 16px;
                height: 16px;
                padding: 6px;
                border-radius: 4px;
                margin: 0px 4px;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.25);
                }
            }
        }
    }

    .center {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 16px;
        flex: 1 1 auto;

        .new {
            width: 18px;
            height: 18px;
            margin-left: 2px;
            padding: 6px;
            border-radius: 6px;

            &:hover {
                background-color: rgba(128, 128, 128, 0.25);
            }
        }

        .views {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 8px;
            padding: 2px 0px;

            .tab {
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 6px;
                height: 26px;
                background-color: rgba(128, 128, 128, 0.15);
                padding: 2px;
                min-width: 240px;
                max-width: 320px;
                margin: 0px 2px;
                cursor: default;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.25);
                }

                .name {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-right: auto;
                    margin-left: 8px;
                    text-wrap: nowrap;
                    user-select: none;

                    .split {
                        padding: 0px 4px;
                    }

                    span {
                        font-size: 12px;
                    }
                }

                .close {
                    width: 12px;
                    height: 12px;
                    margin: 4px;
                    padding: 6px;
                    border-radius: 6px;

                    &:hover {
                        background-color: rgba(128, 128, 128, 0.25);
                    }
                }
            }

            .active {
                background-color: var(--panel-background-color);
            }
        }
    }

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2px 8px;
        flex: 0 0 auto;

        .icon {
            width: 24px;
            height: 24px;
            padding: 4px;
            border-radius: 4px;

            &:hover {
                background-color: rgba(128, 128, 128, 0.25);
            }
        }
    }
}

.ribbonTitlePanel {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    flex: auto;
    font-size: 13px;
    margin: 2px 4px;

    .startup {
        padding: 4px 12px;

        &:hover {
            font-weight: bold;
            color: white;
            background-color: var(--primary-color);
        }
    }

    .tabHeader {
        color: var(--titlebar-forground-color);
        padding: 4px 12px;

        &:hover {
            font-weight: bold;
            background-color: var(--hover-background-color);
        }
    }

    .activedTab {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 8px;
            right: 8px;
            height: 3px;
            background-color: var(--primary-color);
        }
    }
}

.tabContentPanel {
    display: flex;
    flex-direction: row;
    background-color: var(--panel-background-color);
    border-bottom: 1px solid var(--border-color);

    & .groupPanel {
        display: flex;
        flex-direction: row;
    }
}

.commandContextPanel {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex: 1 1 auto;
    height: 32px;
    background-color: var(--panel-background-color);
    border-bottom: 1px solid var(--border-color);
}
