.panel {
    font-size: 13px;
    background-color: var(--panelBackground);
    opacity: 0.85;
    border: var(--border);
    padding: 2px 4px;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.error {
    color: red;
    font-size: 11px;
}
