.sidebar {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.top {
    display: block;
    margin: 12px;
}

.bottom {
    display: flex;
    margin: 0px 12px 12px 12px;
    flex: 1 1 100%;
}
