.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 16px;
    gap: 16px;
    border-radius: 16px;
    min-width: 100px;
    max-width: 80%;
    overflow-x: auto;
    border: 1px solid var(--border-color);
    background-color: var(--panel-background-color);
    opacity: 0.95;
    box-shadow: var(--panel-shadow);
    text-wrap: nowrap;
    font-size: 13px;
    z-index: 9999;
}

.command {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;

    .icon {
        width: 24px;
        height: 24px;
    }

    .title {
        font-weight: bold;
        margin-top: 1px;
    }
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.button {
    padding: 2px 12px;
    font-size: 1em;
    border-radius: 6px;
    color: var(--foreground-color);
    border: 1px solid var(--border-color);
    background-color: var(--control-background-color);

    &:hover {
        background-color: var(--hover-background-color);
    }
}
.closeIcon {
    width: 14px;
    height: 14px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    margin-left: auto;
    flex-shrink: 0;

    &:hover {
        background-color: var(--hover-background-color);
    }
}

.input {
    margin-left: 8px;
    width: 64px;
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
}

.select {
    margin-left: 8px;
    padding: 2px 12px;
    font-size: 1em;
    border-radius: 6px;
    color: var(--foreground-color);
    border: 1px solid var(--border-color);
    background-color: var(--control-background-color);
}

.materialButton {
    flex: 1 1 auto;
    font-size: 1rem;
    padding: 2px 24px;
    outline: none;
    background-color: transparent;

    border: 1px solid var(--border-color);
    border-radius: 4px;

    &:hover {
        background-color: var(--hover-background-color);
    }
}
