.treePanel {
    grid-row-start: 2;
    height: 240px;
    margin: 4px;
    resize: vertical;
    overflow-y: auto;
}

.itemPanelSelected {
    background-color: var(--selected);
    border-radius: 4px;
}
