.panel {
    margin: 2px;
    resize: vertical;
    overflow-y: auto;
    padding: 2px;
    height: 200px;
}

.selected {
    background-color: var(--hover-background-color);
}

.current {
    outline: 2px solid var(--primary-color);
}

.dragging {
    opacity: 0.56;
    pointer-events: none;
}
