.toast {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0%);
    z-index: 10000;
    border-radius: 0.8em;
    background-color: var(--backdrop-color);
    font-size: 1.2em;
    padding: 1em;
    color: var(--foreground-color);
}

.info {
    color: var(--foreground-color);
}

.error {
    color: var(--error-color);
}

.warning {
    color: var(--warning-color);
}
