.toast {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0%);
    z-index: 10000;
    border-radius: 0.8em;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 1.2em;
    padding: 1em;
}
