.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 320px;
    overflow: hidden;
}

.icon {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    fill: var(--titlebar-forground-color);
    overflow: hidden;
}

.icon:hover {
    fill: var(--hover-foreground-color);
    background-color: var(--hover-background-color);
}
