.root {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    font-size: 11px;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--titlebar-foreground-color);
}

.split {
    margin: 0px 6px;
}
